<!DOCTYPE html>
<html>
<head>
  <title>PartnerApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<%= rails_connector_header_tags %>
</head>
<body>

<%= yield %>

<%= rails_connector_after_content_tags %>
</body>
</html>
